<!doctype html>
<html>
<head>
    <title>Create a New Student!</title>
</head>
<body>
    <form action="/student-add", method="POST">
        <label>Enter Student's First Name:
            <input type="text" name="first">
        </label>
        <label>Enter Student's Last Name:
            <input type="text" name="last">
        </label>
        <label>Enter Student's Github Handle:
            <input type="text" name="github">
        </label>
        <input type="submit" value="Make That Student, Yo!">

</body>
</html>